@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    transition: all 0.5s ease;
}

body {
    display: flex;
    height: 100vh;
    background-color: #131313;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    background-color: rgb(136, 136, 221);
    border-radius: 20px;
    height: 70%;
    width: 30%;
    box-shadow: 0 0 25px rgb(104, 103, 103);
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.container:hover {
    box-shadow: 0 0 15px rgb(255, 244, 140);
    height: 72%;
    width: 32%;
    transition: all 0.5s ease-in;
    transform: translateY(-5%);
}

.Heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 15%;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    height: auto;
    transition: all 0.5s ease-out;
}

.Heading:hover {
    color: #131313;
    text-shadow: 0 0 5px #fff;
    transform: translateY(-10px);
    cursor: pointer;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}

.form {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    width: 100%;
    justify-content: space-around;
    /* background-color: black; */
    height: 50%;
}

.input {

    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    width: 50%;
    margin: 20px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    overflow: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    transition: all 0.5s ease-out;
}


.input:hover {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    transform: translateY(-5px);
    color: #131313;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.7s ease-out;
    box-shadow: inset 0 0 0 0 #131313;
    transition: all 0.5s ease;
}
button:hover {
    box-shadow: inset 150px 0 0 0 #131313;
    color: #fff;
}

